.x-weather {

    padding: 4em;
    
    .ant-card {

        width: 100%;
        max-width: 23em;

        .ant-tag {

            font-size: 14px;
        }
    
        &-head {

            border-bottom: none;
            .ant-card-extra {

                font-size: 18px;
            }
        }

        &-cover {
            > div {
                
                display: flex;
                flex-direction: column;
                text-align: center;
                .img-icon {

                    width: 10em;
                    height: 10em;
                    margin: 0 auto;
                }
                > span {
                    
                    text-transform: capitalize;
                }
            }
        }

        .ant-card-body {

            .content-spinner {

                height: 21em;
                display: flex;
                align-items: center;
                justify-content: center;

                .x-spinner {

                    font-size: 64px;
                }
            }

            .ant-row {
                .col-data {
                    
                    > div {

                        display: flex;
                        flex-direction: column;
                    }
                }

                .col-degress {

                    text-align: end;

                    .degress-current {
    
                        font-size: 48px;
                        display: block;
                        margin-top: 10px;
                    }
                }
            }        
        }
    }
}

.ant-space-item {

    > span {

        font-size: 15px;
    }
}