@paddingWeek: 1.5em;

//transition
.switch-leave-to {

	opacity: 0;
	transform: translateX(20px);
}

.switch-enter-from {

	opacity: 0;
}

.switch-enter-to, .switch-leave-from {
	
	opacity: 1;
	transform: translateX(0);
}

.switch-enter-active, .switch-leave-active {

	transition: all 0.3s ease;
}

.x-week {

	padding: 2em;

	.card-welcome {
		
		border-color: rgba(0, 0, 0, 0.09);
		box-shadow: 0 2px 8px rgb(0 0 0 / 9%);

		.ant-card-body {

			text-align: justify;
			
			> h1 {

				text-align: center;
			}
		}
	}

	&-content {
		
		width: 100%;
		min-height: 300px;
		display: flex;
		justify-content: center;
	}

	.week-days {

		padding: @paddingWeek;
		
		&-item {

			text-align: center;
			
			&-icon {

				width: 8em;
			}

			&-degress {

				font-size: 18px;
			}

			&-description {
				
				text-transform: capitalize;
			}
		}

		.ant-spin-nested-loading {

			.ant-spin {
				
				> svg {

					font-size: 64px;
					top: 40%;
				}

				&-blur {
					
					opacity: 0.1;
				}
			}
		}
	}
}

//dark
.dark-theme {
	
	.x-week {
		
		.card-welcome {

			border-color: rgba(0, 0, 0, 0.09);
			box-shadow: 0 1px 2px -2px rgb(0 0 0 / 64%), 0 3px 6px 0 rgb(0 0 0 / 48%), 0 5px 12px 4px rgb(0 0 0 / 36%);
		}
		
		.week-days {

			padding: @paddingWeek;

			.svg-inline--fa {

				--fa-secondary-color: #fff;
				--fa-secondary-opacity: .6;
			}
		}
	}
}