//import vars @import "../../node_modules/ant-design-vue/es/style/themes/default"; 
@import '../../node_modules/ant-design-vue/dist/antd.less';
// @import '../../node_modules/ant-design-vue/dist/antd.dark.less';


#app {

    height: 100%;
}

#main {

    height: 100%;
    width: 100%;
}
