@import "../../node_modules/ant-design-vue/es/style/themes/default";

#app {

    height: 100%;
}

#main {

    height: 100%;
    width: 100%;

    > .header {

        height: @layout-header-height;
        // background: @layout-header-background;
        >.ant-menu {

            height: 100%;
            display: flex;
            padding: 0 10px;
            //border-bottom: 1px solid #f0f0f0;
            #logo {

                // border: solid 1px red;
                width: 53px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto 38px;
                background-image:url('../assets/x-dark.webp');
            }
            .name-app {

                font-size: 1.4em;
            }
        }
    }

    #container {

        .x-weather {

            padding: 4em;
        }

        .x-week {

            padding: 2em;
            height: 300px;

            > .welcome-content {

                // padding: 1.5em;
                max-width: 100%;
                border-color: rgba(0, 0, 0, 0.09);
                box-shadow: 0 2px 8px rgb(0 0 0 / 9%);
            }

            &-content {

                background: @component-background;
            }
        }
    }
}



.fa-fw {

    margin-right: 4px;
}

.dark-theme {

    @import "../../node_modules/ant-design-vue/dist/antd.dark";

    >.header {
        >.ant-menu {
            > #logo {

                background-image:url('../assets/x-white.webp')!important;
            }
        }
    }
    .ant-layout-content {
        
        // background: @body-background;
        // background: #2b2b2b;
        background: #191a1a;

        .x-week {
            > .welcome-content {

                border-color: rgba(0, 0, 0, 0.09)!important;
                box-shadow: 0 1px 2px -2px rgb(0 0 0 / 64%), 0 3px 6px 0 rgb(0 0 0 / 48%), 0 5px 12px 4px rgb(0 0 0 / 36%)!important;
            }
        }
    }

    .ant-card {
        .ant-tag {

            font-size: 14px;
        }
        .ant-card-cover {
            > div {
    
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        }
    }
}



